.c-loteConfeccionista{
  display: grid;
  grid-template-columns: repeat(9, auto);
  border: 1px solid black;
  margin: 10px 10% 0 10%;
  
}

.c-cambiaEstado{
  background-color: #3498db;
}

.c-cambiaEstado:hover{
  box-shadow: 3px 3px 5px black;
  cursor: pointer;
}

a{
  text-decoration: none; 
  color:  #000 ;
}