.containerEditForm{
  margin: 30px 0 50px 0;
}



.confirmUpdateLote{
  border-radius: 3px;
  width: 150px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 3px 2px 5px 3px ;
  background-color: #2980b9;
  color: white;
}

.cancelEdit{
  display: flex;
  flex-direction: row;
  justify-content: center;

}


.miniContainerEdit{
  display: flex;
  flex-direction: row;
  border: solid black 1px;
  align-items: center;
  padding: 0 3px 2px 3px;
  border-radius: 3px;
  margin: 8px 8px 0 0;

}


.miniContainerEdit:hover{
  box-shadow: 3px 3px 10px #c0392b;
  cursor: pointer;
  transition: 0.3s;
}

.containerFormSuperiores{
  display: grid;
  /* grid-template-rows: 1fr ; */
  /* grid-template-rows: 1fr 1fr 1fr; */
  

}

.containerRowSuperiores{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr ; 
  gap: 10px;
  align-items: center;
  
}

.containerRowSuperiores input{
  width: 70px;
}

.containerRowSuperiores div{
  display: flex;
  justify-content: center;
  
}

.titleFila{
  border-bottom: 1px solid black;
}

.titleTalla{
  width: 70px;
}

.containerFormInferiores{
  display: grid;

}

.containerRowInferiores{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr  ; 
  gap: 10px;
  align-items: center;

}

.containerRowInferiores input{
  width: 70px;
}