.containerDuo {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0;
  justify-content: center;
}

.containerLoteDestacado {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #ecf0f1;

}


.containerAllLotes div a {
  text-decoration: none;
  color: black;

}

.barraBase {

  width: 150px;
  max-width: 150px;
  height: 10px;
  border-radius: 10px;
}

.barra100 {
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  background-color: #bdc3c7;
  border-radius: 15px;
}


.loteValue {
  font-family: 'League Spartan', sans-serif;
  font-size: 20px;
}

.loteTitle {
  font-family: 'Lato', sans-serif;
}


.st0 {
  fill: #fff;
}

.st1 {
  fill: none;
  stroke: #231f20;
  stroke-width: 50;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10
}

.svgMaquina {
  width: 30px;
  height: 30px;
  /* align-self: center; */
}

.svgParo {
  width: 25px;
  height: 25px;
}

.svgLavanderia {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 600px) {

  .containerLoteDestacado {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


}